.goHome {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  bottom: 800px;
  left: 40px;
  width: 60px;
  height: 60px;
  border-radius: 10%;
  box-shadow: 3px 7px 7px rgb(211, 160, 160);
  cursor: pointer;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.goHome .icon {
  height: 60%;
  width: 60%;
  overflow: hidden;
}

.goHome:hover {
  box-shadow: none;
}

.goHome.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}
